@model SCGLKPIUI.Models.Accepted.AdjustAcceptedViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .chart-legend li span {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        list-style: none;
    }

    .chart-legend ul {
        list-style-type: none;
    }
</style>
<h4>
    <i class="fa fa-truck"></i> Adjust accept | Monthly
</h4>

@*filter by month*@
@Html.Partial("pv_FilterByMonth")

@Html.Partial("pv_AdjustAccepted")

@if (TempData["Msg"] != null)
{
    if (TempData["Msg"].ToString().Contains("Successfully"))
    {
        <div class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span style="font-size:small"> @TempData["Msg"].ToString()</span>
        </div>
    }
    else
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span style="font-size:small"> @TempData["Msg"].ToString()</span>
        </div>
    }
}

<div>
    <div id="loading" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Loading...</h4>
                </div>
                <div class="modal-body">
                    @*<div class="progress progress-success">
                            <div class="progress-bar" style="width:100%"></div>
                        </div>*@
                    <div class="progress m-t-xs full progress-small">
                        <div style="width:100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-striped active">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/xeditable/css")
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/touchspin/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/clockpicker/css")
    @Styles.Render("~/bundles/sweetAlert/css")
    @Styles.Render("~/bundles/toastr/css")
    @Styles.Render("~/bundles/ladda/css")
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/xeditable/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/touchspin/js")
    @Scripts.Render("~/bundles/clockpicker/js")
    @Scripts.Render("~/bundles/chartjs/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/toastr/js")
    @Scripts.Render("~/bundles/ladda/js")
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/fnReloadAjax.js"></script>

    <script>

        //created global object Then just before initializing the chart i destroyed
        var chartOntime;
        var chartOntimeAdj;
        var chartShipment;
        var pieChartOntime;
        var reasonString;
        //
        // show progress
        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxStop(function () {
            $("#loading").hide();
        });


        //#region 1 autocomplete dropdownlist
        $(".js-source-states").select2();
        //#endregion

        //#region 2 filter section
        //#endregion

        //#region 3 filter matname
        //#endregion

        //#region 4 getJson Section
        $(document).ready(function () {
            $.getJSON('/AdjustTendered/ReasonFilter', function (data) {
                var ddlR = $("#ReasonId");
                // ddl.removeAttrs('disabled style');
                ddlR.addClass('js-source-states');
                var string = '<option value="">ALL</option>';
                $.each(data, function (i, S) {
                    string += '<option value="' + S.Id + '">' + S.Name + '</option>'
                });
                ddlR.html(string);
            });
        });
        //#endregion

        //#region  5 getJson MatName
        //#endregion
        $("#btnSearch").click(function () {
            //if ($('#DepartmentId').val() == "") {
            //    swal({
            //        title: "Warning!",
            //        text: "Sorry!, Department is not selected ",
            //        type: "warning"
            //    });
            //} else

            if ($('#DepartmentId').val() == "") {
                swal({
                    title: "Warning!",
                    text: "Sorry!, Department is not selected ",
                    type: "warning"
                });
            } else if ($('#SectionId').val() == "") {
                swal({
                    title: "Warning!",
                    text: "Sorry!, Section is not selected ",
                    type: "warning"
                });
            } else if ($('#MatNameId').val() == "") {
                swal({
                    title: "Warning!",
                    text: "Sorry!, MatName is not selected ",
                    type: "warning"
                });
            } else if ($('#YearId').val() == "") {
                swal({
                    title: "Warning!",
                    text: "Sorry!, Year is not selected ",
                    type: "warning"
                });
            } else if ($('#MonthId').val() == "") {
                swal({
                    title: "Warning!",
                    text: "Sorry!, Month is not selected ",
                    type: "warning"
                });
            }
            else {

                $.getJSON('/AdjustAccepted/ReasonFilter', function (data) {
                    reasonString = '<td><select id="dynamic_select" name="dynamic_select">\n'
                    reasonString += '<option value="">--SELECT--</option>\n';
                    $.each(data, function (i, S) {
                        reasonString += '<option value="' + S.Id + '">' + S.Name + '</option>\n'
                    });
                    reasonString += '</select></td>'
                });

                //#region table
                // on-time tender monthly dataTable
                var departmentId = $('#DepartmentId').val();
                var sectionId = $('#SectionId').val();
                var matNameId = $('#MatNameId').val();
                var yearId = $('#YearId').val();
                var monthId = $('#MonthId').val();

                var adjustAccept = $('#adjustAcceptedTable').dataTable();
                adjustAccept.fnDestroy();
                adjustAccept.dataTable({
                    dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "ajax": {
                        "type": "POST",
                        "url": '@(Url.RouteUrl("JsonAdjustAcceptTable"))',
                        "data": function (d) {
                            d.departmentId = departmentId;
                            d.sectionId = sectionId;
                            d.matNameId = matNameId;
                            d.YearId = yearId;
                            d.MonthId = monthId;
                        },
                        "dataSrc": ""
                    },
                    columns: [
                   { data: "Shipment" },
                   { data: "RegionName" },
                   { data: "SoldtoName" },
                   { data: "ShiptoName" },
                    ],
                    "columnDefs": [
                                {
                                    "mRender": function (data, type, full) {
                                        return reasonString;
                                    },
                                    "targets": 4
                                },
                                {
                                    "targets": 5,
                                    "data": function (row, type, val, meta) {
                                        return '<input type="text" name="txtRemark" />\n\
                                            <input type="hidden" id="txtSM" name="txtSM" value="' + row.Shipment + '">\n\
                                            <input type="hidden" name="monthId" value="' + monthId + '" />\n\
                                            <input type="hidden" name="yearId" value="' + yearId + '" />\n\
                                            <input type="hidden" name="departmentId" value="' + departmentId + '" />\n\
                                            <input type="hidden" name="sectionId" value="' + sectionId + '" />\n\
                                            <input type="hidden" name="matNameId" value="' + matNameId + '" />\n';
                                    }
                                }

                    ],
                    select: true,
                    buttons: [
                        { extend: 'copy', className: 'btn-sm' },
                        { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                        { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                    ]
                });
                //#endregion table

            } //end if else

        }); //end btnSerarch click

        //#region 5 Bind normal buttons

        $('.ladda-button').ladda('bind', { timeout: 2000 });

        // Bind progress buttons and simulate loading progress
        Ladda.bind('.progress-demo .ladda-button', {
            callback: function (instance) {
                var progress = 0;
                var interval = setInterval(function () {
                    progress = Math.min(progress + Math.random() * 0.1, 1);
                    instance.setProgress(progress);

                    if (progress === 1) {
                        instance.stop();
                        clearInterval(interval);
                    }
                }, 200);
            }
        });

        var l = $('.ladda-button-demo').ladda();
        l.click(function () {
            // Start loading
            l.ladda('start');

            // Timeout example
            // Do something in backend and then stop ladda
            setTimeout(function () {
                l.ladda('stop');
            }, 5000)
        });
        //#endregion
    </script>
}