@using SCGLKPIUI.Models.Tendered

    @model List<AdjustTenderedViewModels>

    @*@ViewBag.DepartmentId
        @ViewBag.SectionId
        @ViewBag.MatNameId
        @ViewBag.YearId
        @ViewBag.MonthId*@
    @using (Html.BeginForm("UpdateTenderedReason", "AdjustTendered", FormMethod.Post)) {
        <input type="hidden" name="SegmentId" value="@ViewBag.SegmentId" />
        <input type="hidden" name="YearId" value="@ViewBag.YearId" />
        <input type="hidden" name="MonthId" value="@ViewBag.MonthId" />

        <div class="content animate-panel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            @*<div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>*@
                            <b>Adjust On-time tendered</b>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="adjustTenderedTable" class="table table-striped table-bordered table-hover">
                                    <thead style="background-color:darkolivegreen;color:white">
                                        <tr>
                                            <th>#</th>
                                            <th>Shipment</th>
                                            <th>CarrierId</th>
                                            <th>RegionName</th>
                                            <th>SoldtoName</th>
                                            <th>ShiptoName</th>
                                            <th>PlanTender</th>
                                            <th>ActualTender</th>
                                            <th>Reason</th>
                                            <th>Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int itemNo = 1;}
                                        @foreach (var item in Model) {
                                            <tr>
                                                <td>@(itemNo++)</td>
                                                <td>
                                                    <input type="text" name="txtSM" style="background:transparent;border-style:none;width:80px" readonly="readonly" value="@item.Shipment" />
                                                </td>
                                                <td>@item.CarrierId</td>
                                                <td>@item.RegionName</td>
                                                <td>@item.SoldtoName</td>
                                                <td>@item.ShiptoName</td>
                                                <td>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.PlanTender)</td>
                                                <td>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.FirstTender)</td>
                                                @*<td>@Html.DropDownList("ReasonId", null, "SELECT", new { @class = "js-source-states", @style = "width: 100%" })</td>*@
                                                <td><input type="text" name="txtRemark" /></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            @*<td><input type="submit" class="btn btn-success" value="Update" id="btnUpdate" /></td>*@
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                            }
