<div id="navigation">
    @if (User.Identity.IsAuthenticated)
    {
        string[] s = User.Identity.Name.Split('@');
        <div class="profile-picture">
            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">@s[0]</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">@User.Identity.Name <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="~/Login/ChangePassword">Change password</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Login/SignOut">Logout</a></li>
                    </ul>
                </div>
                <div id="sparkline1" class="small-chart m-t-sm"></div>
                <div>
                    <h4 class="font-extra-bold m-b-xs">
                        @User.Identity.AuthenticationType
                    </h4>
                    @*<small class="text-muted">Shipment in the last year</small>*@
                </div>
            </div>
        </div>
        <ul class="nav metismenu" id="side-menu">
            @*Master*@
            <li>
                <a href="#"><span class="nav-label">Master</span> <span class="label label-success pull-right">v.1</span> </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><span class="nav-label">Reason</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller:"ReasonDelivered")">
                                <a href="@Url.Action("Index","ReasonDelivered")"><span class="nav-label">Ontime delivery reason</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"ReasonTendered")">
                                <a href="@Url.Action("Index","ReasonTendered")"><span class="nav-label"> Tendered reason</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"ReasonAccepted")">
                                <a href="@Url.Action("Index","ReasonAccepted")"><span class="nav-label"> Accepted reason</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"ReasonInbounded")">
                                <a href="@Url.Action("Index","ReasonInbounded")"><span class="nav-label"> Inbounded reason</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"ReasonOutbounded")">
                                <a href="@Url.Action("Index","ReasonOutbounded")"><span class="nav-label"> Outbounded reason</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"ReasonDocReturned")">
                                <a href="@Url.Action("Index","ReasonDocReturned")"><span class="nav-label"> DocReturned reason</span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><span class="nav-label">KPI Performance</span></a>
                <ul class="nav nav-second-level">
                    @*On-time Delivery*@
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> On-time delivery<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller: "OntimeDeliveredDailyChart")">
                                <a href="@Url.Action("Index", "OntimeDeliveredDailyChart")"><span class="nav-label">Daily chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeDeliveredMonthlyChart")">
                                <a href="@Url.Action("Index", "OntimeDeliveredMonthlyChart")"><span class="nav-label">Monthly chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeDeliveredYearlyChart")">
                                <a href="@Url.Action("Index", "OntimeDeliveredYearlyChart")"><span class="nav-label">Yearly chart</span></a>
                            </li>
                        </ul>
                    </li>
                    @*On-time Tendered Charts*@
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> On-time tendered<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller:"OntimeTenderedDailyChart")">
                                <a href="@Url.Action("Index", "OntimeTenderedDailyChart")"><span class="nav-label">Daily chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeTenderedMonthlyChart")">
                                <a href="@Url.Action("Index", "OntimeTenderedMonthlyChart")"><span class="nav-label">Monthly chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeTenderedYearlyChart")">
                                <a href="@Url.Action("Index", "OntimeTenderedYearlyChart")"><span class="nav-label">Yearly chart</span></a>
                            </li>
                        </ul>
                    </li>
                    @*On-time Accepted Charts*@
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> On-time accepted tendered<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller:"OntimeAcceptedDailyChart")">
                                <a href="@Url.Action("Index", "OntimeAcceptedDailyChart")"><span class="nav-label">Daily chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeAcceptedMonthlyChart")">
                                <a href="@Url.Action("Index", "OntimeAcceptedMonthlyChart")"><span class="nav-label">Monthly chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeAcceptedYearlyChart")">
                                <a href="@Url.Action("Index", "OntimeAcceptedYearlyChart")"><span class="nav-label">Yearly chart</span></a>
                            </li>
                        </ul>
                    </li>
                    @*On-time Inbound*@
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> On-time inbound<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller:"OntimeInboundedDailyChart")">
                                <a href="@Url.Action("Index", "OntimeInboundedDailyChart")"><span class="nav-label">Daily chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeInboundedMonthlyChart")">
                                <a href="@Url.Action("Index", "OntimeInboundedMonthlyChart")"><span class="nav-label">Monthly chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeInboundedYearlyChart")">
                                <a href="@Url.Action("Index", "OntimeInboundedYearlyChart")"><span class="nav-label">Yearly chart</span></a>
                            </li>
                        </ul>
                    </li>
                    @*On-time Outbound*@
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> On-time outbound<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller:"OntimeOutboundedDailyChart")">
                                <a href="@Url.Action("Index", "OntimeOutboundedDailyChart")"><span class="nav-label">Daily chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeOutboundedMonthlyChart")">
                                <a href="@Url.Action("Index", "OntimeOutboundedMonthlyChart")"><span class="nav-label">Monthly chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeOutbounedYearlyChart")">
                                <a href="@Url.Action("Index", "OntimeOutbounedYearlyChart")"><span class="nav-label">Yearly chart</span></a>
                            </li>
                        </ul>
                    </li>
                    @*On-time DocReturn*@
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> On-time document return<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(controller:"OntimeDocReturnedDailyChart")">
                                <a href="@Url.Action("Index", "OntimeDocReturnedDailyChart")"><span class="nav-label">Daily chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeDocReturnedMonthlyChart")">
                                <a href="@Url.Action("Index", "OntimeDocReturnedMonthlyChart")"><span class="nav-label">Monthly chart</span></a>
                            </li>
                            <li class="@Html.IsSelected(controller:"OntimeDocReturnedYearlyChart")">
                                <a href="@Url.Action("Index", "OntimeDocReturnedYearlyChart")"><span class="nav-label">Yearly chart</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            @*Adjust*@

            <li>
                <a href="#"><span class="nav-label"><i class="fa fa-adjust"></i> ADJUST</span> <span class="label label-success pull-right">v.2</span> </a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(controller: "AdjustDelivered")">
                        <a href="@Url.Action("Index", "AdjustDelivered")"><span class="nav-label"> Adjust on-time delivered</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "AdjustTendered")">
                        <a href="@Url.Action("Index", "AdjustTendered")"><span class="nav-label"> Adjust on-time tendered</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "AdjustAccepted")">
                        <a href="@Url.Action("Index", "AdjustAccepted")"><span class="nav-label"> Adjust on-time accepted tendered</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "AdjustInbounded")">
                        <a href="@Url.Action("Index", "AdjustInbounded")"><span class="nav-label"> Adjust on-time inbound</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "AdjustOutbounded")">
                        <a href="@Url.Action("Index", "AdjustOutbounded")"><span class="nav-label"> Adjust on-time outbound</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "AdjustDocReturned")">
                        <a href="@Url.Action("Index", "AdjustDocReturned")"><span class="nav-label"> Adjust on-time document returned</span></a>
                    </li>
                </ul>
            </li>

            @*Pending*@

            <li>
                <a href="#"><span class="nav-label"><i class="fa fa-adjust"></i> PENDING</span> <span class="label label-success pull-right">v.1</span> </a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(controller: "PendingDelivery")">
                        <a href="@Url.Action("Index", "PendingDelivery")"><span class="nav-label"> Pending on-time delivered</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "PendingTender")">
                        <a href="@Url.Action("Index", "PendingTender")"><span class="nav-label"> Pending on-time tendered</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "PendingAccept")">
                        <a href="@Url.Action("Index", "PendingAccept")"><span class="nav-label"> Pending on-time accepted tendered</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "PendingInbound")">
                        <a href="@Url.Action("Index", "PendingInbound")"><span class="nav-label"> Pending on-time inbound</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "PendingOutbound")">
                        <a href="@Url.Action("Index", "PendingOutbound")"><span class="nav-label"> Pending on-time outbound</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "PendingDocReturn")">
                        <a href="@Url.Action("Index", "PendingDocReturn")"><span class="nav-label"> Pending on-time document returned</span></a>
                    </li>
                </ul>
            </li>

            @*Approve*@
            @if (User.IsInRole("ADMIN"))
            {
                <li>
                    <a href="#"><span class="nav-label"><i class="fa fa-adjust"></i> Approve Adjusted</span> <span class="label label-success pull-right">v.1</span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(controller: "ApproveDelivered")">
                            <a href="@Url.Action("Index", "ApproveDelivered")"><span class="nav-label"> Approve on-time delivered</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "ApproveTendered")">
                            <a href="@Url.Action("Index", "ApproveTendered")"><span class="nav-label"> Approve on-time tendered</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "ApproveAccepted")">
                            <a href="@Url.Action("Index", "ApproveAccepted")"><span class="nav-label"> Approve on-time accepted tendered</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "ApproveInbounded")">
                            <a href="@Url.Action("Index", "ApproveInbounded")"><span class="nav-label"> Approve on-time inbound</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "ApproveOutbounded")">
                            <a href="@Url.Action("Index", "ApproveOutbounded")"><span class="nav-label"> Approve on-time outbound</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "ApproveDocReturned")">
                            <a href="@Url.Action("Index", "ApproveDocReturned")"><span class="nav-label"> Approve on-time document returned</span></a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    }
</div>