@model BOL.TUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentDate = DateTime.Now;
}

@*//*@
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>Welcome to SCG Logistics KPI Reports</h2>
        </div>
    </div>
    <div class="row">
        <!-- main start -->
        <!-- ================ -->
        <!-- main end -->
        <div class="main col-md-8 col-md-offset-2">
            <div class="object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <div class="form-block center-block">

                    <hr>
                    @if (TempData["Msg"] != null) { <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <span style="font-size:small"> @TempData["Msg"].ToString()</span>
                    </div>
                    }
                    @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "login-form",@id="login_form" })) {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group has-feedback">
                                @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-3", @style = "font-size:medium" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    <i class="fa fa-user form-control-feedback"></i>
                                    @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3", @style = "font-size:medium" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    <i class="fa fa-lock form-control-feedback">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4"></div>
                                <div class="col-md-3" style="text-align:center">
                                    <button class="btn btn-primary" type="submit">LOGIN</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/validation/js")
    @Scripts.Render("~/bundles/flot/js")
    <script type="text/javascript">
        $(function () {
            /**
             * Flot charts data and options
             */
            var data1 = [[0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51]];
            var data2 = [[0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59]];
            var chartUsersOptions = {
                series: {
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                },
                grid: {
                    tickColor: "#f0f0f0",
                    borderWidth: 1,
                    borderColor: 'f0f0f0',
                    color: '#6a6c6f'
                },
                colors: ["#62cb31", "#efefef"],
            };

            $.plot($("#flot-line-chart"), [data1, data2], chartUsersOptions);

            /**
             * Flot charts 2 data and options
             */
            var chartIncomeData = [
                {
                    label: "line",
                    data: [[1, 10], [2, 26], [3, 16], [4, 36], [5, 32], [6, 51]]
                }
            ];
            var chartIncomeOptions = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: "#64cc34"

                    }
                },
                colors: ["#62cb31"],
                grid: {
                    show: false
                },
                legend: {
                    show: false
                }
            };
            $.plot($("#flot-income-chart"), chartIncomeData, chartIncomeOptions);

            //1
            $("#login_form").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 3
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    number: {
                        required: true,
                        number: true
                    },
                    max: {
                        required: true,
                        maxlength: 4
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
            //
        });
    </script>
}









